{{ form_start(form) }}

<div class="row mb-3">
    <div class="col-md-6">
        {{ form_row(form.nom) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.prenoms) }}
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6">
        {{ form_row(form.email) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.telephone) }}
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6">
        {{ form_row(form.dateNaissance) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.adresse) }}
    </div>
</div><div class="row mb-3">
    <div class="col-md-6">
        {{ form_row(form.password.first) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.password.second) }}
    </div>
</div>

    <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
