{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}
{% block breadcrumb %}Paramètre{% endblock %}

{% block bouton %}

    <a href="{{ path('app_admin') }}"> Tableau de bord</a>
{% endblock %}

{% block body %}
    <div class="card overflow-hidden radius-10">
        <div class="profile-cover bg-dark position-relative mb-4">
            <div class="user-profile-avatar shadow position-absolute top-50 start-0 translate-middle-x">
                <img src="{{ asset('assets/images/avatars/06.png') }}" alt="...">
            </div>
        </div>
        <div class="card-body">
            <div class="mt-5 d-flex align-items-start justify-content-between">
                <div class="">
                    <h3 class="mb-2">{{ app.user.prenoms }} {{ app.user.nom }}</h3>
                    <p class="mb-1">{{ app.user.email }}</p>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
